/* The Overlay (background) */
.overlay {
    /* Height & width depends on how you want to reveal the overlay (see JS below) */
    height: 0;
    width: 100%;
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    bottom: 0;
    background-color: rgb(0, 0, 0); /* Black fallback color */
    background-color: rgba(0, 0, 0, 0.9); /* Black w/opacity */
    overflow-x: hidden; /* Disable horizontal scroll */
    transition: 0.5s; /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
}

/* Position the content inside the overlay */
.overlay-content {
    position: relative;
    width: 100%; /* 100% width */
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

form {
    margin: auto;
    display: flex;
    flex-direction: column;
    width: 340px;
    height: 500px;
    border-radius: 20px;
    background: white;
    gap: 20px;
    align-items: center;
}

.titleNewTask {
    padding: 20px;
    font-size: 2rem;
}

.buttons-newTask {
    padding-top: 40px;
    display: grid;
    width: 80%;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.input-new-task {
    display: flex;
    flex-direction: column;
}

.input-new-task input,
.input-new-task select {
    appearance: none;
    border-radius: 4px;
    padding: 5px;
    width: 240px;
    font-size: 1rem;
    background: #f2f2f2;
    border: none;
    padding: 8px;
    margin-top: 4px;
    
}

.closebtn,
.add-task-button {
    height: 40px;
    border: none;
    border-radius: 20px;
    box-shadow: 4px 5px 12px 2px #a3a2a2;
}

.add-task-button {
    background: #84d7a9;
}

.closebtn {
    background: #d65656;
}
