#menu {
    p {
        font-size: 2rem;
        font-weight: bold;
        padding-bottom: 28px;
    }
}

.add-new-project-div {
    padding-bottom: 20px;
    padding-left: 40px;
}

.add-new-project-input {
    appearance: none;
    border: none;
    background: #c0d6d7;
    width: 180px;
    height: 28px;
    border-radius: 5px;
    padding: 5px;
    font-size: 1rem;
    margin-bottom: 10px;
}

.add-project-btn {
    padding: 10px;
    background: #90bdd9;
    border: none;
    border-radius: 10px;
    box-shadow: 4px 4px 17px gray;
    width: 70%;
}

.project-section {
    display: flex;
    justify-content: space-between;
}

.projects {
    display: flex;
    flex-direction: column;
    padding-left: 40px;
    gap: 10px;
}

.project-button {
    border: none;
    background: none;
    text-align: left;
    font-size: 1.4rem;
    transition: 0.2s;
}
.project-button:hover {
    scale: 1.1;
    background: #afdaff;
}

